<% include header %>

<div style="background-image:url('bg.jpg')" class="wrapper col2">
        <div id="intro">
            <div class="fl_left">
            
            <ul>
                <li>            
                <h2>BACKGROUND</h2>
                <p>I'm from INDIA. I completed my under graduation in computer science from JNTU-H in 2017.
                    I have no professional experience.</p>
                
                </li>
                <li class="middle">
                <h2>PLANS</h2>
                <p>I want to continue my career in developing web applications as full stack developer.</p>
                </li>
                <li >
                    <h2>INTRESTS</h2><p>I'm intrested in web development Apart from my technical interest I like shopping and cooking. I love to travel different places.
                    I like to listen melodies</p>
                    
                
                </li>          
            </ul>
            </div>
            <div class="fl_right">
                <iframe width="415" height="314" src="https://www.youtube.com/embed/E5ln4uR4TwQ"> </iframe>
                </div>
            <br class="clear" />
    </div>
</div>
<% include footer %>