<% include header %>

<div style="background-image:url('bg.jpg')" class="wrapper col2">
    <div id="intro">
      <div class="fl_left">
        
            <form>
              
             
              <label  id="bc">PACE CALCULATOR:</label> </br>
              <label for="time">Time(Enter in minutes):</label></br>
              <input type="text" id="time" name="time"></br>
          
              <label for="distance">Distance(Enter in miles):</label></br> 
              <input type="text" id="dist" name="distance"></br>
          
              <label for="pace">pace:</label></br>
              <input type="text" id="pace" name="pace"></br>
                
              
          
              
          
              <input type="button" id="calculate" value="calculate">
            </form>
                </div>
              </div>
            
            
      <br class="clear" />
    </div>
  
  
    <% include footer %>