<% include header %>
<div style="background-image:url('bg.jpg')" class="wrapper col2">
        <div id="intro">
          <div class="fl_left">
            
                <form action="" method="post">
                  <label>Contact info:</label> <br>
                    
                        <label for="fname">Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                    
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="Your Email..">
                    
                    
                        <label for="subject">Subject</label>
                        <input type="text" name="subject" placeholder="subject">

                        <label for="body">Body</label>
                        <textarea id="body" name="body" placeholder="Write something.." style="height:200px"></textarea>
                    
                        <input type="submit" value="Submit">
                    
                      </form>
                    </div>
                    <div>
                      
                      <label>     Connect me on: </label>
                        <a href="https://github.com/Charan1234567"><img alt="GIT" class="icons" src="download.png"   /></a>
                        <a href="https://bitbucket.org/Charan123456/"><img class="icons" alt="bit bucket" src="bitbucket.png"/> </a>
                        <a href="https://www.facebook.com/saicharan.gurudu"><img class="icons" alt="bit bucket" src="fb.png"/> </a>
                    
          <br class="clear" />
        </div>
       
</div>
      </div>  
    <% include footer %>