<% include header %>
    <% if (entries.length) { %>
    <div class="container">
        <a href="/new-entry">Add one!</a>
        <% entries.forEach(function(entry) { %>
            <div class="panel panel-default" style="margin-top:20px; margin-bottom:20px;">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <%= entry.title %>
                        <span class="pull-right">
                            <%= entry.published %>
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <%= entry.content %>
                </div>
            </div>
        <% }) %>
        <% } else { %>
            <div>
                <br>
                <br>
                <br>
                    No entries!
                    <div>
                            <a href="/new-entry" class="btn btn-primary btn-lg">
                                Add one!
                            </a>
                    </div>
                    <br>
                <br>
                <br>
            </div>
        <% } %>
    </div>
<% include footer %>
