<!DOCTYPE html>
<html>
    <head>
        <title>Calculator</title>
        
        <link rel="stylesheet" href="layout.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
        <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.0.1.css">
        <script src="https://code.jquery.com/qunit/qunit-2.0.1.js"></script>
        <script type="text/javascript" src="calculator.js"></script>
        <script src="A02test.js"></script>
    </head>
    <body>

            <div class="col1">
                    <div id="header">    
                        <div>       
                            <img src="img/sai.JPG" class="img-circle" alt="profile" style="float: left"/>
                        <h1 id="heading" style = "float: left"> 
                                     Sai Charan Gurudu  
                                    </h1>
                        </div>
                    
                        <div id="topnav">
                        
                        <ul>                 
                        <li class="active"><a href="contact">Contact</a></li>
                            <li class="active"><a target="_blank" href="test">Test</a></li>
                            <li class="active"><a href="guestbook">Guest Book</a></li>
                            <li class="active"><a href="calculator">Calculator</a></li>
                            <li class="active"><a href="about">About</a></li>
                            <li class="active"><a href="/">Home</a></li>
                        </ul>
                        </div>
                        <br class="clear" />
                    </div>
                    </div>
                    