<% include header %>

<div style="background-image:url('bg.jpg')" class="wrapper col2">
        <div id="intro">
           <h1>
               This is my default landing page
           </h1>
           
    </div>
</div>
<% include footer %>